h1
{
	font-family: 'Kaushan Script', cursive;
	text-align: center;

}

h2
{
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

.popUp
{
	position: absolute;
	height: 500px;
	width: 360px;
	background-color: red;
	left: calc(50% - 200px);
	background-color: rgb(147, 221, 230);
	border-radius: 20px;

	padding: 20px;
}

.popUp input
{
	border: 0;
	border-radius: 10px;
	padding: 7px;
	margin: 5px;

	width: 350px;
}

.popUp button
{
	border: 0;
	border-radius: 10px;
	background-color: gray;
	padding: 10px;

}

.game
{
	width: 400px;
	margin: 0 auto 0 auto;
}

.tile
{
	background-color: rgb(79, 178, 189);
	border-radius: 20px;
	width: 100px;
	height: 100px;
	text-align: center;

	transition: all .2s ease-in-out;
	color: white;
	font-size: 40px;
}

.tile:hover
{
	background-color: rgb(147, 221, 230);
	transform: scale(1.05);
}

.gameMenu
{
	margin-top: 15px;
	margin-left: 10px;
}

.gameMenu button
{
	border: 0;
	padding: 10px;
	margin-right: 7px;
	border-radius: 10px;
	background-color: rgb(100, 100, 100);
	color: white;
	
	transition: all .2s ease-in-out;
}

.gameMenu button:hover
{	
	background-color: rgb(60, 60, 60);
	transform: scale(1.1);
}